@import "./base.css";

#app {
  background-color: rgba(36, 123, 160, 0.7);
  width: 100%;
  height: 100%;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

a,
.green {
  text-decoration: none;
  color: white;
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(249, 53%, 28%, 1);
  }
}
